server {
    listen 0.0.0.0:8080;
    listen 0.0.0.0:8001;
    server_name sito_1.com;
    host 127.0.0.1;
    max_body_size 1024;
    error_page 404 /errors/404.html;
    error_page 405 /errors/405.html;

    location / {
        allowed_methods GET DELETE POST bla one;
        directory_listing on;
        default_file index.html;
		root_directory /home/nicco/Scrivania/webserv/root/;
    }

    location /upload {
        allowed_methods DELETE POST three;
        upload_path /uploads;
    }
}

server {
    listen 0.0.0.0:8002;
    listen 0.0.0.0:8003;
    server_name sito_2.com;
    host 0.0.0.0;
    max_body_size 1024;
    error_page 404 /errors/404.html;
    error_page 405 /errors/405.html;
}