server {
    listen 0.0.0.0:8081;
    server_name ONE.com;
    host 127.0.0.1;
    max_body_size 1024;
    error_page 404 /errors/404.html;
    error_page 405 /errors/405.html;

    location / {
        allowed_methods GET POST;
        directory_listing on;
        default_file index.html;
    }
}
//setsockopt()